$desk: 100/1920;
$deskHeight: 100/1080;

.__auth_login__ {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #f8faff;
}
